<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>

    <!-- Bootstrapの設定 -->
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

    <title>ログイン</title>
</head>
<body class="text-center">
AAAA
	<div align="center">

    <h1>ログイン</h1>
    <form method="post" action="/login">

        <!-- ユーザーID -->
        <label>管理者ID</label>
        <input type="text" name="id" size="24"/><br/>
        <br />

        <!-- パスワード -->
        <label>パスワード</label>
        <input type="password" name="password" size="24"/><br/>
        <br />

		<input type="submit" value="ログイン">
    </form>

    <form action="/logout">
    	<input type="submit" value="ログアウト">
    </form>
    <br/>

    <!-- ユーザー登録画面へのリンク -->
    <a th:href="@{'/signup'}">従業員はこちら</a>


      <!--フッター -->
  <footer>
    <small>Copyright (c) チーム北岡 All Rights Reserved.</small>
  </footer>

  </div>


</body>
</html>