<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="@{/css/admin/Detail.css}">

	<title>従業員｜登録内容確認ページ</title>

 </head>
 <body>
 <div th:fragment="EmployeeRegister_contents">
 		<div class="row">
 			<div class="col-sm-5">
 				<div class="page-header">
 				<h1 class="lead-form">登録内容確認</h1>
 				</div>

 			<form method="post" action="/admin/employee/create/complete" th:action="@{/admin/employee/create/complete}">


 			<!--  <label for="employee_Id">従業員ID　</label>
			<span th:text="*{employee_Id}"></span>
			<input type="hidden" name="employee_Id" id="employee_Id" th:value="*{employee_Id}"> -->
<p></p>
			<h2>氏名　</h2>
			<span th:text="*{employee_Name}"></span>
			<input type="hidden"  name="employee_Name" id="employee_Name" th:value="*{employee_Name}">
<p></p>
			<h2>呼び名（勤務表に表示される名前）　</h2>
			<span th:text="*{employee_Adana}"></span>
			<input type="hidden" name="employee_Adana" id="employee_Adana" th:value="*{employee_Adana}">
<p></p>
			<h2>郵便番号　</h2>
			<span th:text="*{employee_Ad_Number}"></span>
			<input type="hidden" name="employee_Ad_Number" id="employee_Ad_Number" th:value="*{employee_Ad_Number}">
<p></p>
			<h2>住所　</h2>
			<span th:text="*{employee_Address}"></span>
			<input type="hidden" name="employee_Address" id="employee_Address" th:value="*{employee_Address}">
<p></p>
			<h2>電話番号　</h2>
			<span th:text="*{employee_Phone_Number}"></span>
			<input type="hidden" name="employee_Phone_Number" id="employee_Phone_Number" th:value="*{employee_Phone_Number}">
<p></p>
			<h2>メールアドレス　</h2>
			<span th:text="*{employee_Mail}"></span>
			<input type="hidden" name="employee_Mail" id="employee_Mail" th:value="*{employee_Mail}">
<p></p>
			<h2>希望日数　</h2>
			<span th:text="*{desire_Days}"></span>
			<input type="hidden" name="desire_Days" id="desire_Days" th:value="*{desire_Days}">
<p></p>
<p></p>
			<h3>希望曜日</h3>
			<div id="employee_Monday">

			<span th:text="*{employee_Monday}"></span>
			</div>

			<div id="employee_Tuesday">
			<span th:text="*{employee_Tuesday}"></span>
			</div>

			<div id="employee_Wednesday">
			<span th:text="*{employee_Wednesday}"></span>
			</div>


			<div id="employee_Thursday">
			<span th:text="*{employee_Thursday}"></span>
			</div>


			<div id="employee_Friday">
			<span th:text="*{employee_Friday}"></span>
			</div>

			<div id="employee_Saturday">
			<span th:text="*{employee_Saturday}"></span>
			</div>

			<div id="employee_Sunday">
			<span th:text="*{employee_Sunday}"></span>
			</div>


			<h2>備考</h2>
 			<span th:text="*{employee_Bikou}"></span>

			<input type="hidden" name="employee_Bikou" id="employee_Bikou" th:value="*{employee_Bikou}">


			<input type="hidden" name="employee_Monday" id="employee_Monday" th:value="*{employee_Monday}">
			<input type="hidden" name="employee_Tuesday" id="employee_Tuesday" th:value="*{employee_Tuesday}">
			<input type="hidden" name="employee_Wednesday" id="employee_Wednesday" th:value="*{employee_Wednesday}">
			<input type="hidden" name="employee_Thursday" id="employee_Thursday" th:value="*{employee_Thursday}">
			<input type="hidden" name="employee_Friday" id="employee_Friday" th:value="*{employee_Friday}">
			<input type="hidden" name="employee_Saturday" id="employee_Saturday" th:value="*{employee_Saturday}">
			<input type="hidden" name="employee_Sunday" id="employee_Sunday" th:value="*{employee_Sunday}">






 	<p>この内容で確定しますか？</p>
	<div class="btn_a">
		<button class="button_1" type="submit" value="confirm">確定</button>
	</div>
         </form>
			<form method="post" action="/admin/employee/create/backregister">
	<!--  	<input type="hidden" name="employee_Id" id="employee_Id" th:value="*{employee_Id}"> -->
			<input type="hidden"  name="employee_Name" id="employee_Name" th:value="*{employee_Name}">
			<input type="hidden" name="employee_Adana" id="employee_Adana" th:value="*{employee_Adana}">
			<input type="hidden" name="employee_Ad_Number" id="employee_Ad_Number" th:value="*{employee_Ad_Number}">
			<input type="hidden" name="employee_Address" id="employee_Address" th:value="*{employee_Address}">
			<input type="hidden" name="employee_Phone_Number" id="employee_Phone_Number" th:value="*{employee_Phone_Number}">
			<input type="hidden" name="employee_Mail" id="employee_Mail" th:value="*{employee_Mail}">
			<input type="hidden" name="desire_Days" id="desire_Days" th:value="*{desire_Days}">
			<input type="hidden" name="employee_Monday" id="employee_Monday" th:value="*{employee_Monday}">
			<input type="hidden" name="employee_Tuesday" id="employee_Tuesday" th:value="*{employee_Tuesday}">
			<input type="hidden" name="employee_Wednesday" id="employee_Wednesday" th:value="*{employee_Wednesday}">
			<input type="hidden" name="employee_Thursday" id="employee_Thursday" th:value="*{employee_Thursday}">
			<input type="hidden" name="employee_Friday" id="employee_Friday" th:value="*{employee_Friday}">
			<input type="hidden" name="employee_Saturday" id="employee_Saturday" th:value="*{employee_Saturday}">
			<input type="hidden" name="employee_Sunday" id="employee_Sunday" th:value="*{employee_Sunday}">
			<input type="hidden" name="employee_Bikou" id="employee_Bikou" th:value="*{employee_Bikou}">
	<div class="btn_b">
         <button class="button_2" type="submit" value="confirm">修正する</button></div>

         </form>



       </div>



     </div>
 	</div>

<script>
	var str = document.getElementById("employee_Monday").innerHTML;
	str = str.replace(/true/g," 月曜日");
	str = str.replace(/false/g,"");
	document.getElementById("employee_Monday").innerHTML = str;
	</script>

	<script>
	var str = document.getElementById("employee_Tuesday").innerHTML;
	str = str.replace(/true/g," 火曜日");
	str = str.replace(/false/g,"");
	document.getElementById("employee_Tuesday").innerHTML = str;
	</script>

	<script>
	var str = document.getElementById("employee_Wednesday").innerHTML;
	str = str.replace(/true/g,"水曜日");
	str = str.replace(/false/g,"");
	document.getElementById("employee_Wednesday").innerHTML = str;
	</script>

	<script>
	var str = document.getElementById("employee_Thursday").innerHTML;
	str = str.replace(/true/g,"木曜日");
	str = str.replace(/false/g,"");
	document.getElementById("employee_Thursday").innerHTML = str;
	</script>


	<script>
	var str = document.getElementById("employee_Friday").innerHTML;
	str = str.replace(/true/g,"金曜日");
	str = str.replace(/false/g,"");
	document.getElementById("employee_Friday").innerHTML = str;
	</script>

	<script>
	var str = document.getElementById("employee_Saturday").innerHTML;
	str = str.replace(/true/g,"土曜日");
	str = str.replace(/false/g,"");
	document.getElementById("employee_Saturday").innerHTML = str;
	</script>

	<script>
	var str = document.getElementById("employee_Sunday").innerHTML;
	str = str.replace(/true/g,"日曜日");
	str = str.replace(/false/g,"");
	document.getElementById("employee_Sunday").innerHTML = str;
	</script>

   </body>
 </html>