<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="@{/css/admin/Detail.css}">

	<title>従業員｜入力内容確認ページ</title>

 </head>
 <body>
 <div th:fragment="EmployeeRegister_contents">
 		<div class="row">
 			<div class="col-sm-5">
 				<div class="page-header">
 				<h1>入力内容確認</h1>
 				</div>

 			<form method="post" action="/admin/employee/create/complete" th:action="@{/admin/employee/create/complete}">


 			<label for="employee_Id">従業員ID</label>
			<p th:text="*{employee_Id}"></p>
			<input type="hidden" name="employee_Id" id="employee_Id" th:value="*{employee_Id}">

			<label for="employee_Name">氏名</label>
			<p th:text="*{employee_Name}"></p>
			<input type="hidden"  name="employee_Name" id="employee_Name" th:value="*{employee_Name}">

			<label for="building_Id">ビルID</label>
			<p th:text="*{building_Id}"></p>
			<input type="hidden" name="building_Id" id="building_Id" th:value="*{building_Id}">

			<label for="employee_Ad_Number">郵便番号</label>
			<p th:text="*{employee_Ad_Number}"></p>
			<input type="hidden" name="employee_Ad_Number" id="employee_Ad_Number" th:value="*{employee_Ad_Number}">

			<label for="employee_Address">住所</label>
			<p th:text="*{employee_Address}"></p>
			<input type="hidden" name="employee_Address" id="employee_Address" th:value="*{employee_Address}">

			<label for="employee_Phone_Number">電話番号</label>
			<p th:text="*{employee_Phone_Number}"></p>
			<input type="hidden" name="employee_Phone_Number" id="employee_Phone_Number" th:value="*{employee_Phone_Number}">

			<label for="employee_Mail">メールアドレス</label>
			<p th:text="*{employee_Mail}"></p>
			<input type="hidden" name="employee_Mail" id="employee_Mail" th:value="*{employee_Mail}">

			<label for="desire_Days">希望日数</label>
			<p th:text="*{desire_Days}"></p>
			<input type="hidden" name="desire_Days" id="desire_Days" th:value="*{desire_Days}">




			<div id="employee_Monday">
			<label for="employee_Monday">月曜日</label>
			<p th:text="*{employee_Monday}"></p>
			</div>
			<input type="hidden" name="employee_Monday" id="employee_Monday" th:value="*{employee_Monday}">


			<div id="employee_Tuesday">
			<label for="employee_Tuesday">火曜日</label>
			<p th:text="*{employee_Tuesday}"></p>
			</div>
			<input type="hidden" name="employee_Tuesday" id="employee_Tuesday" th:value="*{employee_Tuesday}">

			<div id="employee_Wednesday">
			<label for="employee_Wednesday">水曜日</label>
			<p th:text="*{employee_Wednesday}"></p>
			</div>
			<input type="hidden" name="employee_Wednesday" id="employee_Wednesday" th:value="*{employee_Wednesday}">

			<div id="employee_Thursday">
			<label for="employee_Thursday">木曜日</label>
			<p th:text="*{employee_Thursday}"></p>
			</div>
			<input type="hidden" name="employee_Thursday" id="employee_Thursday" th:value="*{employee_Thursday}">


			<div id="employee_Friday">
			<label for="employee_Friday">金曜日</label>
			<p th:text="*{employee_Friday}"></p>
			</div>
			<input type="hidden" name="employee_Friday" id="employee_Friday" th:value="*{employee_Friday}">

			<div id="employee_Saturday">
			<label for="employee_Saturday">土曜日</label>
			<p th:text="*{employee_Saturday}"></p>
			</div>
			<input type="hidden" name="employee_Saturday" id="employee_Saturday" th:value="*{employee_Saturday}">

			<div id="employee_Sunday">
			<label for="employee_Sunday">日曜日</label>
			<p th:text="*{employee_Sunday}"></p>
			</div>
			<input type="hidden" name="employee_Sunday" id="employee_Sunday" th:value="*{employee_Sunday}">






 	<p>この内容で確定しますか？</p>


         <!--<input type="hidden" name="q" value="1">-->
         <!--実際は入力ページから受け取ったデータを隠し持っておく-->
         <!--その情報を送るなら”確定”、訂正なら”リダイレクト？”で戻る-->
		<button type="submit" value="confirm">確定</button>

         </form>
			<form method="post" action="/admin/employee/create/backregister">
			<input type="hidden" name="employee_Id" id="employee_Id" th:value="*{employee_Id}">
			<input type="hidden"  name="employee_Name" id="employee_Name" th:value="*{employee_Name}">
			<input type="hidden" name="building_Id" id="building_Id" th:value="*{building_Id}">
			<input type="hidden" name="employee_Ad_Number" id="employee_Ad_Number" th:value="*{employee_Ad_Number}">
			<input type="hidden" name="employee_Address" id="employee_Address" th:value="*{employee_Address}">
			<input type="hidden" name="employee_Phone_Number" id="employee_Phone_Number" th:value="*{employee_Phone_Number}">
			<input type="hidden" name="employee_Mail" id="employee_Mail" th:value="*{employee_Mail}">
			<input type="hidden" name="desire_Days" id="desire_Days" th:value="*{desire_Days}">
			<input type="hidden" name="employee_Monday" id="employee_Monday" th:value="*{employee_Monday}">
			<input type="hidden" name="employee_Tuesday" id="employee_Tuesday" th:value="*{employee_Tuesday}">
			<input type="hidden" name="employee_Wednesday" id="employee_Wednesday" th:value="*{employee_Wednesday}">
			<input type="hidden" name="employee_Thursday" id="employee_Thursday" th:value="*{employee_Thursday}">
			<input type="hidden" name="employee_Friday" id="employee_Friday" th:value="*{employee_Friday}">
			<input type="hidden" name="employee_Saturday" id="employee_Saturday" th:value="*{employee_Saturday}">
			<input type="hidden" name="employee_Sunday" id="employee_Sunday" th:value="*{employee_Sunday}">
         <input type="submit"value="修正する">
         </form>



       </div>



     </div>
 	</div>

   </body>
 </html>