<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="Detail.css">

	<title>従業員｜詳細</title>

 </head>
 <body>
<div th:fragment="EmployeeDetail_contents">
 		<div class="row">
 			<div class="col-sm-5">
 				<div class="page-header">
 				<h1>従業員詳細</h1>
 				</div>

 			<form method="post" th:acthion="@{/EmployeeDetail}"
 			th:object="${signupform}">
 			<table class="table table-bordered table-hover">
 			<tr>

 			<!-- 従業員ID -->
 			<th class="active col-sm-2">従業員ID</th>
 			<td class="col-sm-3">
 				<div class="form-group">
 					<input type="text" class="form-control"
					th:field="*{employee_id}"
 					readonly="readonly"/>
 				</div>
 			</td>
 		</tr>

 	</table>
 	</form>
 	<!-- 変更ボタン -->
 			<button class="btn btn-primary btn-lg pull-right"
 				type="submit"
 				name="update"
 				onclick="location.href='EmployeeDetailCushon.html'"
 				>
 					変更
 				</button>

 			<button class="btn btn-primary btn-lg pull-right"
 				type="submit"
 				name="register"
 				onclick="location.href='EmployeeManage.html'"
 				>従業員一覧へ戻る
 				</button>

 		</div>
 	</div>
 	</div>

 </body>
 </html>