<!DOCTYPE html>
<html xmlna:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="Detail.css">
	
	<title>従業員｜詳細</title>
	
 </head>
 <body>
 	<div th:fragment="EmployeeDetail_contents">
 		<div class="row">
 			<div class="col-sm-5">
 				<div class="page-header">
 				<h1>従業員詳細</h1>
 			</div>
 				
 			<form method="post" th:acthion="@{/EmployeeDetail}"
 			th:object="${signupform}">
 			<table class="table table-bordered table-hover">
 			<tr>
 			
 			<!-- 従業員ID -->
 			<th class="active col-sm-2">従業員ID</th>
 			<td class="col-sm-3">
 				<div class="form-group">
 					<input type="text" class="form-control"
 					th:field="*{employee_id}"
 					readonly="readonly"/>
 				</div>
 			</td>
 		</tr>	
 		<tr>
 		
 			<!-- 氏名 -->
 			<th class="active">氏名</th>
 			<td>
 			<div class="form-group"
 				th:classappend="${#fields.hasErrors('employee_name')}?'has-error'">
 			<input type="text" class="form-control"
 				th:field="*{employee_name}" />
 			<span class="text-danger"
 				th:if="${#fields.hasEroors('employee_name')}"
 				th:errors="*{employee_name}">
 			</span>
 		</div>
 	</td>
 	</tr>
 	<tr>
 	
 			<!-- 担当ビルID -->
 			<th class="active">担当ビルID</th>
 			<td>
 			<div class="form-group"
 				th:classappend="${#fields.hasErrors('building_id')}?'has-error'">
 			<input type="text" class="form-control"
 				th:field="*{building_id}" />
 			<span class="text-danger"
 				th:if="${#fields.hasEroors('building_id')}"
 				th:errors="*{building_id}">
 			</span>
 		</div>
 	</td>
 	</tr>
 	<tr>
 	
 			<!-- 郵便番号 -->
 			<th class="active">郵便番号</th>
 			<td>
 			<div class="form-group"
 				th:classappend="${#fields.hasErrors('employee_ad_number')}?'has-error'">
 			<input type="text" class="form-control"
 				th:field="*{employee_ad_number}" />
 			<span class="text-danger"
 				th:if="${#fields.hasEroors('employee_ad_number')}"
 				th:errors="*{employee_ad_number}">
 			</span>
 		</div>
 	</td>
 	</tr>
 	<tr>
 	
 			<!-- 住所 -->
 			<th class="active">住所</th>
 			<td>
 			<div class="form-group"
 				th:classappend="${#fields.hasErrors('employee_address')}?'has-error'">
 			<input type="text" class="form-control"
 				th:field="*{employee_address}" />
 			<span class="text-danger"
 				th:if="${#fields.hasEroors('employee_address')}"
 				th:errors="*{employee_address}">
 			</span>
 		</div>
 	</td>
 	</tr>
 	<tr>
 	
 			<!-- 電話番号 -->
 			<th class="active">電話番号</th>
 			<td>
 			<div class="form-group"
 				th:classappend="${#fields.hasErrors('employee_phone_number')}?'has-error'">
 			<input type="text" class="form-control"
 				th:field="*{employee_phone_number}" />
 			<span class="text-danger"
 				th:if="${#fields.hasEroors('employee_phone_number')}"
 				th:errors="*{employee_phone_number}">
 			</span>
 		</div>
 	</td>
 	</tr>
 	<tr>
 	
 			<!-- メールアドレス -->
 			<th class="active">メールアドレス</th>
 			<td>
 			<div class="form-group"
 				th:classappend="${#fields.hasErrors('employee_mail')}?'has-error'">
 			<input type="text" class="form-control"
 				th:field="*{employee__mail}" />
 			<span class="text-danger"
 				th:if="${#fields.hasEroors('employee_mail')}"
 				th:errors="*{employee_mail}">
 			</span>
 		</div>
 	</td>
 	</tr>
 	<tr>
 	
 			<!-- 希望日数 -->
 			<th class="active">希望日数</th>
 			<td>
 			<div class="form-group"
 				th:classappend="${#fields.hasErrors('desire_days')}?'has-error'">
 			<input type="text" class="form-control"
 				th:field="*{desire_days}" />
 			<span class="text-danger"
 				th:if="${#fields.hasEroors('desire_days')}"
 				th:errors="*{desire_days}">
 			</span>
 		</div>
 	</td>
 	</tr>
 	<tr>
 	
 			<!-- 希望曜日 -->
 			<th class="active">希望曜日</th>
 			<td>
 			<div class="form-group">
 				<label><input type="checkbox" name="desire_monday" value="月">月</label>
 				<label><input type="checkbox" name="desire_monday" value="火">火</label>
 				<label><input type="checkbox" name="desire_monday" value="水">水</label>
 				<label><input type="checkbox" name="desire_monday" value="木">木</label>
 				<label><input type="checkbox" name="desire_monday" value="金">金</label>
 				<label><input type="checkbox" name="desire_monday" value="土">土</label>
 				<label><input type="checkbox" name="desire_monday" value="日">日</label>
 			</div>
 			<span class="text-danger"
 				th:if="${#fields.hasEroors('desire_youbi')}"
 				th:errors="*{desire_youbi}">
 			</span>
 		</div>
 	</td>
 	</tr>
 	</table>
 	</form>
 	<!-- 変更ボタン -->
 			<button class="btn btn-primary btn-lg pull-right"
 				type="submit"
 				name="update"
 				onclick="location.href='EmployeeDetailCushon.html'"
 				>
 					変更
 				</button>
 				
 			<button class="btn btn-primary btn-lg pull-right"
 				type="submit"
 				name="register"
 				onclick="location.href='EmployeeManage.html'"
 				>従業員一覧へ戻る
 				</button>
 			
 		</div>
 	</div>
 	</div>	
 
 </body>
 </html>