<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/admin/Emp_Build_info.css}">

<!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

<title>ビル一覧</title>
<script>
$(function() {
  var page = 0;
  function draw() {
	$('#lastpage').html(Math.ceil(($('tr').size()-1)/10));
    $('#page').html(page + 1);
    $('tr').hide();
    $('tr:first,tr:gt(' + page * 10 + '):lt(10)').show();
  }
  $('#prev').click(function() {
    if (page > 0) {
      page--;
      draw();
    }
  });
  $('#next').click(function() {
    if (page < ($('tr').size() - 1) / 10 - 1) {
      page++;
      draw();
    }
  });
  draw();
});
</script>
<style>
td, th {
  border: 1px solid black;
  padding: 2px;
}
#prev, #next {
  color: black;
  cursor: pointer;
}
</style>
</head>
<body>
<div th:fragment="list_contents">
<h1>ビル情報</h1>
<form  method="post" action="/admin/building/list">
  <p>ビル名で検索</p>
  <input type="search" name="searchName" placeholder="ビル名を入力">
  <input type="submit" name="submit" value="検索">
</form><br>
<form  action="/admin/building/address" method="post">
  <p>住所で検索</p>
  <input type="search" name="searchAddress" placeholder="住所を入力">
  <input type="submit" name="submit"value="検索">
</form>





<p>
<div style="margin-bottom:3vw; float: right;">
<form method="get" action="/admin/building/create/register">
<!-- <form method="get" th:href="@{'/admin/building/create/register'}"> -->
<button class="button1" type="submit" name="newinfo" >新規登録</button></form>

<!-- <form method="post" action="/admin/building/delete/confirm">
<button class="button2" type="submit" name="delite">チェックしたビルを削除</button></form> -->

</div>
<form action="/admin/top">
	<input type="submit" value="トップに戻る" class="right" style="margin-bottom:3vw; float: left;">
</form>
</p>
<table border="1" id="tbl1">
	<tr>
		<!-- <td></td> -->
		<td>ビルID</td>
		<td>ビル名称</td>
		<td>清掃曜日・頻度</td>
		<td>清掃時間</td>
		<td>詳細</td>
		<td>削除</td>
	</tr>

	<tr th:each="building:${buildingList}">
		<!-- <td><input type="checkbox" name="checkboxForm" th:value="${building.buildingId}"></td> -->
		<td th:text="${building.buildingId}"></td>
		<td th:text="${building.buildingName}"></td>
		<td th:text="${building.buildingNinzu}"></td>

		<td th:text="${building.buildingTime}"></td>

		<td>
		<!-- 動的 URL -->
		<a th:href="@{'/admin/building/change/change/'+${building.buildingId}}">詳細</a>
	</td>


	<td><a th:href="@{'/admin/building/delete/confirm/'+${building.buildingId}}">削除</a></td>
	</tr>

</table>

<button id="prev">＜</button>　<span id="page"></span>/<span id="lastpage"></span>　<button id="next">＞</button>

<script TYPE="text/javascript">

  //行数取得
  var row = tbl1.rows.length-1;
  //結果表示
  document.write("ビル件数："+row+"件");

</script>
</div>
<small>Copyright(c)チーム北岡 All Rights Reserved.</small>


</body>
</html>