<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	lang="ja">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/admin/Emp_Build_info.css}">

<!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
     <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
     <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>

<title>ビル一覧</title>

<script>
$(function() {
	var page = 0;
	var page_last=0;
	var line = 10;
		// page      : カレントページ番号
		// page_last : ページ総数
		// line      : 表示行数

	// 起動時の処理。
	( function __construct() {

		// ページ総数を算出。
		page_last = Math.ceil( ($("#list_body tr").length-1) / line ) -1;

		// ページコントローラにページ番号を挿入。
		for( var i=0; i<=page_last; i++ ) {
			$("#page_number").append( $("<li></li>").html(i+1) );
		}
	})();

	// 現在のページ番号に応じて、ページコントローラのスタイルを変更する関数。
	function set_ctrl_style(){

		// スタイルの初期化。
		$('#page_number').children().removeClass("current_page");
		$('#page_first, #page_prev, #page_next, #page_last').removeClass("terminal");

		// カレントページのスタイル設定。
		$("#page_number li").each(function(){
			if( $(this).html()-1 == page ) $(this).addClass("current_page");
		});

		// 先頭ページ・前ページ・次ページ・末ページ移動ボタンのスタイル設定。
		if( page == 0 ) {
			$('#page_before li').addClass("terminal");
		}
		else if( page == page_last ) {
			$('#page_after li').addClass("terminal");
		}

	}

	// 行を描画する関数。
	function draw() {
		$('#list_body tr').hide();
		$('#list_body tr:first, #list_body tr:gt('+　page * line +'):lt('+line+')').show();
		set_ctrl_style();
	}

	// ページ番号をクリックしたときの処理。
	$("#page_number li").click(function() {
		page = $(this).html()-1;
		draw();
	});

	// 先頭ページ移動ボタンをクリックしたときの処理。
	$('#page_first').click(function() {
		page = 0;
		draw();
	});

	// 末尾ページ移動ボタンをクリックしたときの処理。
	$('#page_last').click(function() {
		page = page_last;
		draw();
	});

	// 前ページ異動ボタンをクリックしたときの処理。
	$('#page_prev').click(function() {
		if (page > 0) page--;
		draw();
	});

	// 次ページ移動ボタンをクリックしたときの処理。
	$('#page_next').click(function() {
		if ( page < page_last ) page++;
		draw();
	});

	draw();
});
</script>
<style>
td, th {
  border: 1px solid black;
  padding: 2px;
}

#page_ctrl ul, #page_ctrl ul li {
	display: inline;
	margin: 10;
	padding: 10;
}
#page_before li, #page_after li, #page_number li {
	border: 1px solid #d0d0d0;
	/*border-radius: 1px;*/
	background: #f0f0f0;
	color: #666666;
	padding: 0 5px;
	margin: 0 2px;
}
#page_ctrl li:hover { background: #fafafa; }
#page_ctrl li.terminal:hover { background: #f0f0f0; }

/* Default スタイル */
#page_first, #page_prev, #page_number li, #page_next, #page_last {
  cursor: pointer;
}

/* 先頭あるいは末尾ページ表示中のボタンスタイル */
.terminal {
	color: #000000 !important;
	cursor: default !important;
	color: #dddddd !important;
}

/* カレントページのスタイル */
.current_page {
	background: #fafafa !important;
	font-weight: bold !important;
}
</style>


</head>
<body>
<div th:fragment="list_contents">
<h1>ビル情報</h1>
<form  method="post" action="/admin/building/list">
  <p>ビル名で検索</p>
  <input type="search" name="searchName" placeholder="ビル名を入力">
  <input type="submit" name="submit" value="検索">
</form><br>
<form  action="/admin/building/address" method="post">
  <p>住所で検索</p>
  <input type="search" name="searchAddress" placeholder="住所を入力">
  <input type="submit" name="submit"value="検索">
</form>





<p>
<div style="margin-bottom:3vw; float: right;">
<form method="get" action="/admin/building/create/register">
<!-- <form method="get" th:href="@{'/admin/building/create/register'}"> -->
<button class="button1" type="submit" name="newinfo" >新規登録</button></form>

<!-- <form method="post" action="/admin/building/delete/confirm">
<button class="button2" type="submit" name="delite">チェックしたビルを削除</button></form> -->

</div>
<form action="/admin/top">
	<input type="submit" value="トップに戻る" class="right" style="margin-bottom:3vw; float: left;">
</form>
</p>
<table border="1" id="tbl1">
<tbody id="list_body">
	<tr>
		<!-- <td></td> -->
		<td>ビルID</td>
		<td>ビル名称</td>
		<td>清掃曜日・頻度</td>
		<td>清掃時間</td>
		<td>詳細</td>
		<td>削除</td>
	</tr>

	<tr th:each="building:${buildingList}">
		<!-- <td><input type="checkbox" name="checkboxForm" th:value="${building.buildingId}"></td> -->
		<td th:text="${building.buildingId}"></td>
		<td th:text="${building.buildingName}"></td>
		<td th:text="${building.buildingNinzu}"></td>

		<td th:text="${building.buildingTime}"></td>

		<td>
		<!-- 動的 URL -->
		<a th:href="@{'/admin/building/change/change/'+${building.buildingId}}">詳細</a>
	</td>


	<td><a th:href="@{'/admin/building/delete/confirm/'+${building.buildingId}}">削除</a></td>
	</tr>

</tbody>
</table>

<br>
<div id="page_ctrl">
	<ul id="page_before">
		<li id="page_first">&lt;&lt;</li>
		<li id="page_prev">&lt;</li>
	</ul>
	<ul id="page_number"></ul>
	<ul id="page_after">
		<li id="page_next">&gt;</li>
		<li id="page_last">&gt;&gt;</li>
	</ul>
</div>

<script TYPE="text/javascript">

  //行数取得
  var row = tbl1.rows.length-1;
  //結果表示
  document.write("ビル件数："+row+"件");

</script>
</div>
<small>Copyright(c)チーム北岡 All Rights Reserved.</small>


</body>
</html>