<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="@{/css/admin/Emp_Build_info.css}">

<!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

<title>ビル一覧</title>
</head>
<body>
<h1>ビル情報</h1>
<form  method="post">
  <p>検索したいビル名を入力してください。</p>
  <input type="search" name="search" placeholder="名前を入力">
  <input type="submit" name="submit" value="検索">
</form><br>
<p><button class="button1" type="button" name="newinfo"onclick="location.href='BuildingRegister.html'" >新規登録</button>
<button class="button2" type="submit" name="delite" onclick="location.href='BuildingDeleteConfirm.html'">チェックしたビルを削除</button>
<button style="float:right"onclick="location.href='TopMenu.html'" >トップに戻る</button>
</p>
<table border="1">
	<tr>
		<td></td>
		<td>ビルID</td>
		<td>ビル名称</td>
		<td>清掃曜日・頻度</td>
		<td>清掃時間</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>1</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>2</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>3</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>4</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>5</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>6</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>7</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>8</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>9</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>10</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>11</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>12</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>13</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>14</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>15</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>16</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>17</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>18</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>19</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>20</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>21</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>22</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>23</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>24</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>25</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>26</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>27</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>28</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>29</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td>30</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="button" value="詳細"onclick="location.href='BuildingDetail.html'"></td>
	</tr>
</table>


<small>Copyright(c)チーム北岡 All Rights Reserved.</small>
</body>
</html>