<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/admin/Detail.css}">

	<title>ビル情報｜入力内容確認ページ</title>

 </head>
 <body>
 			<div class="col-sm-5">
 				<div class="page-header">
 				<h1>入力内容確認</h1>
 			</div>

 			<form method="post" action="admin/building/create/complete"
 					th:action="@{/admin/building/create/complete}">

          <!-- ビル情報入力エリア -->

 			<!-- ビルID -->
 			<label for="buildingId">ビルID</label>
 			<p th:text="*{buildingId}"></p>
 			<input type="hidden" name="buildingId" id="buildingId" th:value="*{buildingId}">

 			<!-- ビル名 -->
 			<label for="buildingName">ビル名</label>
 			<p th:text="*{buildingName}"></p>
 			<input type="hidden" name="buildingName" id="buildingName" th:value="*{buildingName}">

 			<!-- 郵便番号 -->
 			<label for="buildingAdNumber">郵便番号</label>
 			<p th:text="*{buildingAdNumber}"></p>
 			<input type="hidden" name="buildingAdNumber" id="buildingAdNumber" th:value="*{buildingAdNumber}">

 			<!-- 住所 -->
 			<label for="buildingAddress">住所</label>
 			<p th:text="*{buildingAddress}"></p>
 			<input type="hidden" name="buildingAddress" id="buildingAddress" th:value="*{buildingAddress}">

 			<!-- 電話番号 -->
 			<label for="buildingPhoneNumber">電話番号</label>
 			<p th:text="*{buildingPhoneNumber}"></p>
 			<input type="hidden" name="buildingPhoneNumber" id="buildingPhoneNUmber" th:value="*{buildingPhoneNumber}">

 			<!-- メールアドレス -->
 			<label for="buildingMail">メールアドレス</label>
 			<p th:text="*{buildingMail}"></p>
 			<input type="hidden" name="buildingMail" id="buildingMail" th:value="*{buildingMail}">

 			<!-- 必要人数 -->
 			<label for="buildingNinzu">必要人数</label>
 			<p th:text="*{buildingNinzu}"></p>
 			<input type="hidden" name="buildingNinzu" id="buildingNinzu" th:value="*{buildingNinzu}">

 			<!-- 希望時間 -->
 			<label for="buildingTime">希望時間</label>
 			<p th:text="*{buildingTime}"></p>
 			<input type="hidden" name="buildingTime" id="buildingTime" th:value="*{buildingTime}">

 			<!-- 希望開始時刻 -->
 			<label for="buildingStart">希望開始時刻</label>
 			<p th:text="*{buildingStart}"></p>
 			<input type="hidden" name="buildingStart" id="buildingStart" th:value="*{buildingStart}">

 			<!-- 希望終了時刻 -->
 			<label for="buildingEnd">希望終了時刻</label>
 			<p th:text="*{buildingEnd}"></p>
 			<input type="hidden" name="buildingEnd" id="buildingEnd" th:value="*{buildingEnd}">




 			<!-- 希望曜日 -->
 			<label for="desireDays">希望曜日</label>
 			<p th:text="*{desireDays}"></p>
 			<input type="hidden" name="desireDays" id="desireDays" th:value="*{desireDays}">

 			<div id="buildingMonday">
 			<label for="buildingMonday">月曜日</label>
 			<p th:text="*{buildingMonday}"></p>
 			</div>
 			<input type="hidden" name="buildingMonday" id="buildingMonday" th:value="*{buildingMonday}">

 			<div id="buildingTuesday">
 			<label for="buildingTuesday">火曜日</label>
 			<p th:text="*{buildingTuesday}"></p>
 			</div>
 			<input type="hidden" name="buildingTuesday" id="buildingTuesday" th:value="*{buildingTuesday}">

 			<div id="buildingWednesday">
 			<label for="buildingWednesday">水曜日</label>
 			<p th:text="*{buildingWednesday}"></p>
 			</div>
 			<input type="hidden" name="buildingWednesday" id="buildingWednesday" th:value="*{buildingWednesday}">

 			<div id="buildingThursday">
 			<label for="buildingThursday">木曜日</label>
 			<p th:text="*{buildingThursday}"></p>
 			</div>
 			<input type="hidden" name="buildingThursday" id="buildingThursday" th:value="*{buildingThursday}">

 			<div id="buildingFriday">
 			<label for="buildingFriday">金曜日</label>
 			<p th:text="*{buildingFriday}"></p>
 			</div>
 			<input type="hidden" name="buildingFriday" id="buildingFriday" th:value="*{buildingFriday}">

 			<div id="buildingSaturday">
 			<label for="buildingSaturday">土曜日</label>
 			<p th:text="*{buildingSaturday}"></p>
 			</div>
 			<input type="hidden" name="buildingSaturday" id="buildingSaturday" th:value="*{buildingSaturday}">

 			<div id="buildingSunday">
 			<label for="buildingSunday">日曜日</label>
 			<p th:text="*{buildingSunday}"></p>
 			</div>
 			<input type="hidden" name="buildingSunday" id="buildingSunday" th:value="*{buildingSunday}">

		<p>この内容で確定しますか？</p>

         <button type="submit" value="confirm">確定</button>

    </form>

    <form method="post" action="/admin/building/create/backregister">
    	<input type="hidden" name="buildingId" id="buildingId" th:value="*{buildingId}">
    	<input type="hidden" name="buildingName" id="buildingName" th:value="*{buildingName}">
    	<input type="hidden" name="buildingAdNumber" id="buildingAdNumber" th:value="*{buildingAdNumber}">
    	<input type="hidden" name="buildingAddress" id="buildingAddress" th:value="*{buildingAddress}">
    	<input type="hidden" name="buildingPhoneNumber" id="buildingPhoneNumber" th:value="*{buildingPhoneNumber}">
    	<input type="hidden" name="buildingMail" id="buildingMail" th:value="*{buildingMail}">
    	<input type="hidden" name="buildingNinzu" id="buildingNinzu" th:value="*{buildingNinzu}">
    	<input type="hidden" name="buildingTime" id="buildingTime" th:value="*{buildingTime}">
    	<input type="hidden" name="desireDays" id="desireDays" th:value="*{desireDays}">
    	<input type="hidden" name="buildingMonday" id="buildingMonday" th:value="*{buildingMonday}">
    	<input type="hidden" name="buildingTuesday" id="buildingTuesday" th:value="*{buildingTuesday}">
    	<input type="hidden" name="buildingWednesday" id="buildingWednesday" th:value="*{buildingWednesday}">
    	<input type="hidden" name="buildingThursday" id="buildingThursday" th:value="*{buildingThursday}">
    	<input type="hidden" name="buildingFriday" id="buildingFriday" th:value="*{buildingFriday}">
    	<input type="hidden" name="buildingSaturday" id="buildingSaturday" th:value="*{buildingSaturday}">
    	<input type="hidden" name="buildingSunday" id="buildingSunday" th:value="*{buildingSunday}">
    	<input type="hidden" name="buildingStart" id="buildingStart" th:value="*{buildingStart}">
    	<input type="hidden" name="buildingEnd" id="buildingEnd" th:value="*{buildingEnd}">
    	<input type="submit"value="修正する">
    </form>

       </div>

   </body>
 </html>