<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8"></meta>
	<link rel="stylesheet" th:href="@{/css/admin/Detail.css}">

	 <!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

	<title>ビル情報｜新規登録</title>

 </head>
 <body>
 			<div class="col-sm-5">
 				<div class="page-header">
 				<h1>ビル情報</h1>
 			</div>

 			<form method="post" action="admin/employee/create/confirm"
 				th:object="${buildingForm}">
 			<table class="table table-bordered table-hover">

 			<!-- ビル情報入力エリア -->
 			<tr>

 			<!-- ビルID -->
 			<th class="active col-sm-3">ビルID</th>
 			<td>
 				<div class="form-group">
 					<input type="text" class="form-control" name="buildingId"/>
 				</div>
 			</td>
 		</tr>
 		<tr>

 			<!-- ビル名 -->
 			<th class="active">ビル名</th>
 			<td>
 			<div class="form-group">
 			<input type="text" class="form-control" name="buildingName"/>
 		</div>
 	</td>
 	</tr>
 	<tr>

 			<!-- 担当従業員名 -->
 			<th class="active">担当従業員名</th>
 			<td>
 			<div class="form-group">
 			<input type="text" class="form-control" name="employeeName"/>
 		</div>
 	</td>
 	</tr>
 	<tr>

 			<!-- 郵便番号 -->
 			<th class="active">郵便番号</th>
 			<td>
 			<div class="form-group">
 			<input type="text" class="form-control" name="buildingAdNumber"/>
 		</div>
 	</td>
 	</tr>
 	<tr>

 			<!-- 住所 -->
 			<th class="active">住所</th>
 			<td>
 			<div class="form-group">
 			<input type="text" class="form-control" name="buildingAddress"/>
 		</div>
 	</td>
 	</tr>
 	<tr>

 			<!-- 電話番号 -->
 			<th class="active">電話番号</th>
 			<td>
 			<div class="form-group">
 			<input type="text" class="form-control" name="buildingPhoneNumber"/>
 		</div>
 	</td>
 	</tr>
 	<tr>

 			<!-- メールアドレス -->
 			<th class="active">メールアドレス</th>
 			<td>
 			<div class="form-group">
 			<input type="text" class="form-control" name="buildingMail"/>
 		</div>
 	</td>
 	</tr>
 	<tr>
 				<!-- 必要人数 -->
 			<th class="active">必要人数</th>
 			<td>
 			<div class="form-group">
 			<input type="text" class="form-control" name="buildingNinzu"/>
 		</div>
 	</td>
 	</tr>
 	<tr>

 			<!-- 希望時間 -->
 			<th class="active">希望時間</th>
 			<td>
 			<div class="form-group">
 			<input type="text" class="form-control" name="buildingTime"/>
 		</div>
 	</td>
 	</tr>
 	<tr>

 			<!-- 希望曜日 -->
 			<th class="active">希望曜日</th>
 			<td>
 			<div class="form-group">
 				<label><input type="checkbox" name="desire_monday" value="月">月</label>
 				<label><input type="checkbox" name="desire_tuesday" value="火">火</label>
 				<label><input type="checkbox" name="desire_wednesday" value="水">水</label>
 				<label><input type="checkbox" name="desire_thursday" value="木">木</label>
 				<label><input type="checkbox" name="desire_friday" value="金">金</label>
 				<label><input type="checkbox" name="desire_saturday" value="土">土</label>
 				<label><input type="checkbox" name="desire_sunday" value="日">日</label>
 			</div>

 	</td>
 	</tr>
 	</table>

 	</form>

 	<!-- 登録ボタン -->
 		<form method="get" action="/admin/building/list">
 			<button class="button1" type="submit" name="register">登録</button></form>

		<form method="get" action="/admin/employee/list">
 			<button class="button2" type="submit" name="back">ビル一覧へ戻る</button></form>

 <!--フッター -->
  <footer>
    <small>Copyright (c) チーム北岡 All Rights Reserved.</small>
  </footer>

 		</div>

 </body>
 </html>