<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="Detail.css">

	<title>ビル情報｜新規登録</title>

 </head>
 <body>
 	<div th:fragment="BuildingRegister_contents">
 		<div class="row">
 			<div class="col-sm-5">
 				<div class="page-header">
 				<h1>ビル情報</h1>
 			</div>

 			<form method="post" th:acthion="@{/Building}"
 			th:object="${resisterform}">
 			<table class="table table-bordered table-hover">

 			<!-- ビル情報入力エリア -->

 	<!-- ビルID -->
 	<tr>
 		<th class="active col-sm-3">ビルID</th>
 			<td>
 				<div class="form-group">
 					<input type="text" class="form-control"
 						th:field="*{buildingId}"/>
 					<!--  th:value="*{buildingId}" -->
 				</div>
 			</td>
 	</tr>

 	<!-- ビル名 -->
 	<tr>
 		<th class="active col-sm-3">ビル名</th>
 			<td>
 				<div class="form-group">
 					<input type="text" class="form-control"
 						th:field="*{buildingName}"/>
 	<!--  th:value="*{buildingName}" -->
 				</div>
 			</td>
 	</tr>

 	<!-- 必要人数 -->
 	<tr>
 		<th class="active">必要人数</th>
 			<td>
 				<div class="form-group">
 					<input type="text" class="form-control"
 		th:field="*{buildingNinzu}"/>
 				</div>
 			</td>
 	</tr>

 	<!-- 希望時間 -->
 	<tr>
 	<th class="active">希望時間</th>
 	<td>
 	<div class="form-group">
 	<input type="text" class="form-control"
 		th:field="*{buildingTime}"/>
 	</div>
 	</td>
 	</tr>

	<!-- 希望曜日 -->
 	<tr>
 	<th class="active">希望曜日</th>
 	<td>
	<div class="form-group">
 		<label><input type="checkbox" name="building_monday" value="月">月</label>
 		<label><input type="checkbox" name="building_tuesday" value="火">火</label>
 		<label><input type="checkbox" name="building_wednesday" value="水">水</label>
 		<label><input type="checkbox" name="building_thursday" value="木">木</label>
 		<label><input type="checkbox" name="building_friday" value="金">金</label>
 		<label><input type="checkbox" name="building_saturday" value="土">土</label>
 		<label><input type="checkbox" name="building_sunday" value="日">日</label>
 		</div>
 		<span class="text-danger"
 			th:if="${#fields.hasEroors('desire_youbi')}"
 				th:errors="*{desire_youbi}">
 		</span>
 	</td>
 	</tr>

	<!-- 担当従業員名 -->
	<tr>
 	<th class="active">担当従業員名</th>
 	<td>
 	<div class="form-group">
 	<input type="text" class="form-control"
 		th:field="*{employeeName}"/>
 	</div>
 	</td>
 	</tr>

 	<!-- 郵便番号 -->
 	<tr>
 	<th class="active">郵便番号</th>
 	<td>
 	<div class="form-group">
 	<input type="text" class="form-control"
 		th:field="*{buildingAdNumber}"/>
 	</div>
 	</td>
 	</tr>

 	<!-- 住所 -->
 	<tr>
 	<th class="active">住所</th>
 	<td>
 	<div class="form-group">
 	<input type="text" class="form-control"
 	th:field="*{buildingAddress}"/>
 	</div>
 	</td>
 	</tr>

 	<!-- 電話番号 -->
 	<tr>
 	<th class="active">電話番号</th>
 	<td>
 	<div class="form-group">
 	<input type="text" class="form-control"
 	th:field="*{buildingPhoneNumber}"/>
 	</div>
 	</td>
 	</tr>

 	<!-- メールアドレス -->
 	<tr>
 	<th class="active">メールアドレス</th>
 	<td>
 	<div class="form-group">
 	<input type="text" class="form-control"
 			th:field="*{buildingMail}"/>
 	</div>
 	</td>
 	</tr>
 	</table>
 	</form>

 	<!-- 登録ボタン -->
 			<button class="btn btn-primary btn-lg pull-right"
 				type="submit"
 				name="register"
 				onclick="location.href='confirm.html'"
 				>
 					登録
 				</button>

 			<button class="btn btn-primary btn-lg pull-right"
 				type="submit"
 				name="register"
 				onclick="location.href='BuildingManage.html'"
 				>ビル一覧へ戻る
 				</button>
 			<!--フッター -->
  <footer>
    <small>Copyright (c) チーム北岡 All Rights Reserved.</small>
  </footer>

 		</div>
 	</div>
 	</div>

 </body>
 </html>