<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8"></meta>
	<link rel="stylesheet" th:href="@{/css/admin/Detail.css}">

	 <!-- Bootstrapの設定
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script> -->

	<title>ビル情報｜新規登録</title>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">
$(function(){
	$('#button01').on('click', function() {
		var result = true;

		if(!input_check()){
			result = false;
		}
		return result;
	});
});

	// 入力内容チェックのための関数
	function input_check(){

		var result = true;

			// エラー用装飾のためのクラスリセット
			// $('#buildingId').removeClass("inp_error");
			$('#buildingName').removeClass("inp_error");
			$('#buildingAdNumber').removeClass("inp_error");
			$('#buildingAddress').removeClass("inp_error");
			$('#buildingPhoneNumber').removeClass("inp_error");
			$('#buildingNinzu').removeClass("inp_error");
			$('#buildingTime').removeClass("inp_error");
			$('#buildingStart').removeClass("inp_error");
			$('#buildingEnd').removeClass("inp_error");
			$('#desireDays').removeClass("inp_error");
			$('#buildingMail').removeClass("inp_error");

			// 入力エラー文をリセット
			// $("#Id_error").empty();
			$("#Name_error").empty();
			$("#AdNum_error").empty();
			$("#Ad_error").empty();
			$("#PhoneNum_error").empty();
			$("#Ninzu_error").empty();
			$("#Time_error").empty();
			$("#Start_error").empty();
			$("#End_error").empty();
			$("#Days_error").empty();
			$("#Mail_error").empty();



			// 入力内容セット
			// var buildingId   = $("#buildingId").val().replace(/\s+/g,'');
			var buildingName  = $("#buildingName").val().replace(/\s+/g,"");
			var buildingAdNumber = $("#buildingAdNumber").val().replace(/[━.*‐.*―.*－.*\–.*ー.*\-]/gi,'');
			var buildingAddress  = $("#buildingAddress").val().replace(/\s+/g,"");
			var buildingPhoneNumber  = $("#buildingPhoneNumber").val().replace(/[━.*‐.*―.*－.*\–.*ー.*\-]/gi,'');
			var buildingNinzu  = $("#buildingNinzu").val().replace(/\s+/g,"");
			var buildingTime  = $("#buildingTime").val().replace(/\s+/g,"");
			var buildingStart  = $("#buildingStart").val();
			var buildingEnd  = $("#buildingEnd").val();
			var desireDays  = $("#desireDays").val();
			var buildingMail  = $("#buildingMail").val().replace(/\s+/g,"");

			// 入力内容チェック

			// ビル名
			if(buildingName == ""){
				$("#Name_error").html(" 必須項目です ");
				$("#buildingName").addClass("inp_error");
				result = false;
			}

			// ビル郵便番号
			if(buildingAdNumber == ""){
				$("#AdNum_error").html(" 必須項目です ");
				$("#buildingAdNumber").addClass("inp_error");
				result = false;
			}else if(!(buildingAdNumber.match(/^[0-9]+$/))){
				$("#AdNum_error").html(" 半角数字で入力してください ");
				$("#buildingAdNumber").addClass("inp_error");
				result = false;
			}else if(!(buildingAdNumber.length == 7)){
				$("#AdNum_error").html(" 正しい郵便番号を入力してください ");
				$("#buildingAdNumber").addClass("inp_error");
				result = false;
			}

			// ビル住所
			if(buildingAddress == ""){
				$("#Ad_error").html(" 必須項目です ");
				$("#buildingAddress").addClass("inp_error");
			}

			// ビル電話
			if(buildingPhoneNumber == ""){
				$("#PhoneNum_error").html(" 必須項目です ");
				$("#buildingPhoneNumber").addClass("inp_error");
				result = false;
			}else if(!(buildingPhoneNumber.match(/^[0-9]+$/))){
				$("#PhoneNum_error").html(" 半角数字で入力してください ");
				$("#buildingPhoneNumber").addClass("inp_error");
				result = false;
			}else if(buildingPhoneNumber.length < 10){
				$("#PhoneNum_error").html(" 正しい電話番号を入力してください ");
				$("#buildingPhoneNumber").addClass("inp_error");
				result = false;
			}

			// ビル希望人数
			if(buildingNinzu == ""){
				$("#Ninzu_error").html(" 必須項目です ");
				$("#buildingNinzu").addClass("inp_error");
				result = false;
			}else if(!(buildingNinzu.match(/^[0-9]+$/))){
				$("#Ninzu_error").html(" 半角数字で入力してください ");
				$("#buildingNinzu").addClass("inp_error");
				result = false;
			}

			// ビル希望時間
			if(buildingTime == ""){
				$("#Time_error").html(" 必須項目です ");
				$("#buildingTime").addClass("inp_error");
				result = false;
			}else if(!(buildingTime.match(/^[0-9]+$/))){
				$("#Time_error").html(" 半角数字で入力してください ");
				$("#buildingTime").addClass("inp_error");
				result = false;
			}

			// 希望開始時刻
			if(buildingStart == ""){
				$("#Start_error").html(" 必須項目です ");
				$("#buildingStart").addClass("inp_error");
				result = false;
			}else if(buildingStart > buildingEnd){
				$("#Start_error").html(" 正しい時刻を選択してください ");
				$("#buildingStart").addClass("inp_error");
				result = false;
			}else if(buildingStart == buildingEnd){
				$("#Start_error").html(" 開始と終了が同時刻です ");
				$("#buildingStart").addClass("inp_error");
				result = false;
			}

			// 希望終了時刻
			if(buildingEnd == ""){
				$("#End_error").html(" 必須項目です ");
				$("#buildingEnd").addClass("inp_error");
				result = false;
			}

			// メールアドレス
			if((!(buildingMail.match(/^([a-zA-Z0-9])+([a-zA-Z0-9\._-])*@([a-zA-Z0-9_-])+([a-zA-Z0-9\._-]+)+$/))) && (!buildingMail == "")){
				$("#Mail_error").html(" 正しいメールアドレスを入力してください ");
				$("#buildingMail").addClass("inp_error");
				result = false;
			}

			// チェックボックス一つ以上
			var arr_checkboxes=document.getElementsByClassName("checkboxes");
			var count=0;
			for(var i=0;i<arr_checkboxes.length;i++){
				if(arr_checkboxes[i].checked){

					count++;
				}
			}
			if(count<1){
				$("#Days_error").html(" 希望曜日を1つ以上選んでください ");
				$("#desireDays").addClass("inp_error");
				return false;
			}

			return result;
	}

</script>


 </head>
 <body>
 			<div class="col-sm-5">
 				<div class="page-header">
 		<h2 class="lead-form">新規登録</h2>
 			</div>

 	<form method="post" name="register" id="admin/building/create/complete"
 		action="admin/building/create/confirm" th:action="@{/admin/building/create/confirm}">

 			<!-- ビル情報入力エリア -->

 			<!-- ビル名 -->
 	<div class="form-group">
 			<span class="req">必須</span>
 			<label class="label" for="buildingName">ビル名</label>
 			<input type="text" class="form-control" id="buildingName"
 				name="buildingName" th:value="*{buildingName}"/>
 			<span id="Name_error" class="error_m"></span>
 	</div>
	<div class="form-group">
 			<!-- 郵便番号 -->
 			<span class="req">必須</span>
 			<label class="label" for="buildingAdNumber">郵便番号</label>
 			<input type="text" class="form-control" id="buildingAdNumber"
 				name="buildingAdNumber" th:value="*{buildingAdNumber}"/>
 			<span id="AdNum_error" class="error_m"></span>

	</div>
	<div class="form-group">
 			<!-- 住所 -->
 			<span class="req">必須</span>
 			<label class="label" for="buildingAddress">住所</label>
 			<input type="text" class="form-control" id="buildingAddress"
 				name="buildingAddress" th:value="*{buildingAddress}"/>
 			<span id="Ad_error" class="error_m"></span>
	</div>
	<div class="form-group">
 			<!-- 電話番号 -->
 			<span class="req">必須</span>
 			<label class="label" for="buildingPhoneNumber">電話番号</label>
 			<input type="text" class="form-control" id="buildingPhoneNumber"
 				name="buildingPhoneNumber" th:value="*{buildingPhoneNumber}"/>
 			<span id="PhoneNum_error" class="error_m"></span>
	</div>
	<div class="form-group">
 			<!-- メールアドレス -->
 			<span class="any">任意</span>
 			<label class="label" for="buildingMail">メールアドレス</label>
 			<input type="text" class="form-control" id="buildingMail"
 				name="buildingMail" th:value="*{buildingMail}"/>
 			<span id="Mail_error" class="error_m"></span>
	</div>
	<div class="form-group">
 			<!-- 必要人数 -->
 			<span class="req">必須</span>
 			<label class="label" for="buildingNinzu">必要人数</label>
 			<input type="text" class="form-control" id="buildingNinzu"
 				name="buildingNinzu" th:value="*{buildingNinzu}"/>
 			<span id="Ninzu_error" class="error_m"></span>
	</div>
	<div class="form-group">
 			<!-- 希望時間 -->
 			<span class="req">必須</span>
 			<label class="label" for="buildingTime">希望時間</label>
 			<input type="text" class="form-control" id="buildingTime"
 				name="buildingTime" th:value="*{buildingTime}"/>
 			<span id="Time_error" class="error_m"></span>
	</div>
	<div class="form-group">
 			<!-- 希望開始時刻 -->
 			 <span class="req">必須</span>
 			<label class="label" for="buildingStart">希望開始時刻</label>
 			<input type="time" class="form-control" id="buildingStart"
 				name="buildingStart" min="00:00" max="23:59"  th:value="*{buildingStart}"/>
			<span id="Start_error" class="error_m"></span>
	</div>
	<div class="form-group">
			<!-- 希望終了時刻 -->
 			<span class="req">必須</span>
 			<label class="label" for="buildingEnd">希望終了時刻</label>
 			<input type="time" class="form-control" id="buildingEnd"
 				name="buildingEnd" min="00:00" max="23:59"  th:value="*{buildingEnd}"/>
			<span id="End_error" class="error_m"></span>
	</div>
	<div class="form-group">
 			<!-- 希望曜日 -->
 			<span class="req">必須</span>
 			<label for="desireDays">希望曜日にチェックを入れてください</label>
 			<span id="Days_error" class="error_m"></span>
<br/>
 				<label><input class="checkboxes" type="checkbox" name="buildingMonday"
 								th:checked="${buildingMonday==true}" th:value="*{1}">月曜日</label>
 				<label><input class="checkboxes" type="checkbox" name="buildingTuesday"
 								th:checked="${buildingTuesday==true}" th:value="*{1}">火曜日</label>
 				<label><input class="checkboxes" type="checkbox" name="buildingWednesday"
 								th:checked="${buildingWednesday==true}" th:value="*{1}">水曜日</label>
 				<label><input class="checkboxes" type="checkbox" name="buildingThursday"
								th:checked="${buildingThursday==true}" th:value="*{1}">木曜日</label>
<br/>
 				<label><input class="checkboxes" type="checkbox" name="buildingFriday"
 								th:checked="${buildingFriday==true}" th:value="*{1}">金曜日</label>
 				<label><input class="checkboxes" type="checkbox" name="buildingSaturday"
 								th:checked="${buildingSaturday==true}" th:value="*{1}">土曜日</label>
 				<label><input class="checkboxes" type="checkbox" name="buildingSunday"
 								th:checked="${buildingSunday==true}" th:value="*{1}">日曜日</label>
 				<label><input class="checkboxes" type="checkbox" name="buildingSonota"
 								th:checked="${buildingSonota==true}" th:value="*{1}">その他</label>
	</div>
	<div class="form-group">
			<span class="any">任意</span>
			<label class="label" for="buildingBikou">備考</label>
 			<textarea class="form-control" id="buildingBikou"name="buildingBikou"
 			 th:value="*{buildingBikou}"/></textarea>
 	</div>

 	<!-- 登録ボタン -->
 	<div class="btn_a">
 			<button class="button_1"
 				type="submit" name="register" id="button01">登録</button></div>
 </form>
	<div class="btn_b">
		<form method="get" action="/admin/building/list">
 			<button class="button_2"
 				type="submit" name="back">ビル一覧へ戻る</button></form></div>

 <!--フッター -->
  <footer>
    <small>Copyright (c) チーム北岡 All Rights Reserved.</small>
  </footer>

 		</div>

 </body>
 </html>