<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/admin/WorkTimeTable.css}">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<title>勤務関係</title>
</head>
	<body>
		<h1>勤務表作成</h1>
		<h3>※色の注釈</h3>
		<div class="rabel">
			<p class="square1">重複</p>
			<p class="square2">勤務削除依頼</p>
			<p class="square3">法定日数超過分</p>
			<p class="square4">希望日数超過分</p>
			<p class="square5">自動追加</p>
		</div>
		<form action="/admin/top">
			<input type="submit" value="トップに戻る" class="left" style="margin-bottom:3vw; float: left;">
		</form>

		<form action="/admin/schedule/create" method="post">
			<div id='schedule'>

			</div>
			<div class="right">
				<input class="updatebtn" type="submit" value="変更" onClick="return checks()">
			</div>
		</form>
	</body>
</html>


<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	//コントローラーからのデータ受け取り
	var workList = /*[[${workList}]]*/
	var buildingList = /*[[${buildingList}]]*/
	var employeeList = /*[[${employeeList}]]*/
	var desireList = /*[[${desireList}]]*/

	//曜日の配列
	var week = ["日","月","火","水","木","金","土"];
	var items = ["ビル名","人数"]

	//日付関係
	var date = new Date();	//現在
	var monthLastDay = new Date(date.getFullYear(),date.getMonth()+2,0);	//今月末日
	var monthFirstDay = new Date(date.getFullYear(),date.getMonth()+1,1);	//今月初日
	var DAY_OF_MONTH = monthLastDay.getDate();	//今月の日数
	var DAY_OF_THE_WEEK = monthFirstDay.getDay();	//今月初日の曜日

	//法定時間
	if(DAY_OF_MONTH == 28){
		legalLimit = 160*60;
	}else if(DAY_OF_MONTH == 29){
		legalLimit = 165*60;
	}else if(DAY_OF_MONTH == 30){
		legalLimit = 171*60;
	}else{
		legalLimit = 177*60;
	}

	console.log(legalLimit)
	//スケジュールテーブル要素の取得
	var scheduleTable = document.getElementById("schedule");

	//////テーブルヘッダーの作成////////////////////////////

	//tr要素の生成
	var tr = document.createElement('tr');

	//固定要素
	for(var i = 0; i < items.length; i++){
		var th = document.createElement('th');
		th.setAttribute("class","out-of-table-fixed2");
		if(i == 0 ){th.setAttribute("class","out-of-table-fixed");}
		th.textContent = items[i];
		tr.appendChild(th)
	}

	//曜日
	for(var i = DAY_OF_THE_WEEK; i < (DAY_OF_MONTH+DAY_OF_THE_WEEK); i++){
		var th = document.createElement('th');
		var p = document.createElement('div');
		th.setAttribute("class","out-of-table-fixed2");
		p.textContent = (i-DAY_OF_THE_WEEK+1);
		th.appendChild(p);
		p = document.createElement('p');
		p.textContent = week[i%7];
		th.appendChild(p);
		tr.appendChild(th);
	}

	scheduleTable.appendChild(tr);
	////////////////////////////////////////////////////////

	//テーブル詳細の作成////////////////////////////////////

	//ビルの数だけの表を作る
	for(var building of buildingList){
		//ビルの曜日を取得する
		var week_days = [
			building.buildingSunday,
			building.buildingMonday,
			building.buildingTuesday,
			building.buildingWednesday,
			building.buildingThursday,
			building.buildingFriday,
			building.buildingSaturday]

		//要素の生成
		var tr = document.createElement('tr');
		var td = document.createElement('td');

		//ビル名の設定
		td.setAttribute("rowspan",building.buildingNinzu)
		td.setAttribute("class","out-of-table-fixed")
		td.textContent= building.buildingName;
		tr.appendChild(td);

		//人数の設定
		var td = document.createElement('td');
		td.setAttribute("rowspan",building.buildingNinzu)
		td.textContent= building.buildingNinzu;
		tr.appendChild(td);

		//[ビル清掃を担当する人数]分繰り返す。
		for(var j = 1; j <= building.buildingNinzu; j++){
			//td追加（日毎）
			for(var k = 1; k <= DAY_OF_MONTH; k++){


				//セレクトのデフォルト値を設定するかを判定するフラグ
				var flag = 0;

				//要素の取得
				var td = document.createElement('td');
				var select = document.createElement('select');

				//曜日によってデータを格納できるか変更する
				if(week_days[(k+DAY_OF_THE_WEEK-1)%7]==false){
					td.style.backgroundColor="lightgray";
					tr.appendChild(td);
					continue;
				}

				//セレクト要素に属性を追加
				select.setAttribute("name","selected");
				select.setAttribute("onChange","selectCheck(this)");	//変更時selectCheckメソッドを実行させる属性
				select.setAttribute("class",k);	//クラス名の設定

				//selectの中身を追加（従業員）
				for(var employee of employeeList){
					//要素の取得
					var option = document.createElement('option');

					//option要素に属性を設定
					option.textContent=employee.employeeName;

					var week = (k%7 == 0) ? Math.floor(k/7) : Math.floor(k/7+1);
					var selectDate = new Date(monthFirstDay.getFullYear(),monthFirstDay.getMonth(),k);
					var selectDateStr = selectDate.getFullYear()+"-"+(selectDate.getMonth()+1)+"-"+selectDate.getDate();


					//カンマ区切りで情報を格納
					option.setAttribute("value",building.buildingId+","
							+employee.employeeId+","
							+j+","
							+week+","
							+((k+DAY_OF_THE_WEEK-1)%7)+","
							+selectDateStr+","
							+building.buildingTime
							);

					//先月の勤務表をコピー
					for(var work of workList){
						var workDate = new Date(work.workDate);
						var workDay = workDate.getDay();
						var workWeek = work.workWeek;
						var workMonth = workDate.getMonth();
						var month = date.getMonth()+1;
						if(employee.employeeId == work.employeeId
								&& work.buildingId == building.buildingId
								&& workWeek == week
								&& work.workDay == (k+DAY_OF_THE_WEEK-1)%7
								&& work.workNumber == j){

							for(var desire of desireList){

								var date1 = new Date(desire.workDate);
								var month1 = date1.getMonth();
								var date1 = date1.getDate();
								var date2 = new Date(selectDateStr);
								var month2 = date2.getMonth();
								var date2 = date2.getDate();

								if(month1 == month2 && desire.buildingId == building.buildingId && desire.workNumber == j && date1 == date2 && desire.employeeId == work.employeeId){
									td.style.backgroundColor="skyblue"
								}
							}

							option.setAttribute("selected","");
							if(workMonth != month){
								td.style.backgroundColor="pink"
							}
							flag = 1;
						}
					}
					select.appendChild(option);
				}

				//要素の取得
				var option = document.createElement('option')

				//属性の追加
				option.textContext="";
				option.setAttribute("value",building.buildingId+","
						+"none,"
						+j+","
						+week+","
						+((k+DAY_OF_THE_WEEK-1)%7)+","
						+selectDateStr
						);

				//勤務者がいない場合はセレクト要素のデフォルトを設定する。
				if(flag == 0){
					option.setAttribute("selected","")
				}

				//////////////////////////削除希望反映場所/////////////////////
				//buildingId == this.buildingId;
				//workDate == this.workDate;
				//workNumber == this.buildingNinzu

				///////////////////////////////////////////////////////////////

				//親要素に子要素を追加
				select.appendChild(option);
				td.appendChild(select);
				tr.appendChild(td);

				//フラグの初期化
				flag = 0;
			}
			//親要素に子要素を追加
			scheduleTable.appendChild(tr);

			//要素の生成
			var tr = document.createElement('tr');
		}
	}

	/////////////////////////////////////////////////////

	//重複している値を出力するメソッド
	function getDuplicateValues ([...array]){
		return array.filter((value, index, self) => self.indexOf(value) === index && self.lastIndexOf(value) !== index);
	}

	//select要素選択時に実行するメソッド（入力値チェック）
	function selectCheck(select){

		duplicationCheck();

    	//クラス名をもとに要素を取得する
    	for(var p = 0; p < DAY_OF_MONTH; p++){

	    	var elements = document.getElementsByClassName((p+1));

	    	//要素の値を保持するための配列
	    	var elementValues = [];

			//添え字を保持する配列
	    	var indexArray = [];

	    	//重複している値を格納する配列
	    	var duplicateArray = [];

			//色を変更する要素の添え字を格納する
			var indexRed = [];

	  		//elementsから値だけを抽出してelementValueに格納
	    	for(var i = 0; i < elements.length; i++){
	    		var employeeIds = elements[i].value.split(`,`);
		    	elementValues.push(employeeIds[1]);
	    	}

	  		//さらにgetDuplicateValuesで重複している値のみを抽出
	    	duplicateArray = getDuplicateValues(elementValues);

	  		//重複している要素の添え字をindexRedに格納
	    	for(var i = 0; i < duplicateArray.length; i++){
				for(var j = 0; j < elements.length; j++){
					if(elementValues[j] == "none"){
					}else if(elementValues[j] == null){
					}else if(elementValues[j] == duplicateArray[i]){
						indexRed.push(j);
					}
				}
	    	}

	  		//一度全ての要素をデフォルトの色に設定
	    	for(var i = 0; i < elements.length; i ++){
	    		var parent = $(elements[i]).parent();
	    		if(parent[0].style.backgroundColor=="lightsalmon"){
	    			console.log("白色")
		    		parent[0].style.backgroundColor="";
	    		}
	    	}

			//重複している要素の色を格納
	    	for(var i = 0; i < indexRed.length; i++){
	    		var parent = $(elements[indexRed[i]]).parent();
	    		parent[0].style.backgroundColor="lightsalmon";
	    	}
    	}
	}

	//超過処理
	function duplicationCheck(){
		var desireDays;
		var selects = document.getElementsByTagName("select");
		var counts = new Array(employeeList.length);
		var hours = new Array(employeeList.length);

		for(var i = 0; i < employeeList.length; i++){
			counts[i]=0;
			hours[i]=0;
		}

		for(var i = 0; i < selects.length; i++){
			var values = selects[i].value.split(`,`);
			for(var j = 0; j < employeeList.length; j++){
				if(values[1] == employeeList[j].employeeId){
					counts[j]++;
				}
			}
		}

		for(var i = 0; i < selects.length; i++){
			for(var j = 0; j < employeeList.length; j++){
				var values = selects[i].value.split(`,`);
				var parent = $(selects[i]).parent();

				if(counts[j] > employeeList[j].desireDays && values[1] == employeeList[j].employeeId){
					parent[0].style.backgroundColor="palegreen"
					console.log("超過")
				}else if(counts[j] <= employeeList[j].desireDays && values[1] == employeeList[j].employeeId){
					if(parent[0].style.backgroundColor=="palegreen"){
						parent[0].style.backgroundColor=""
					}
				}
			}
		}

		for(var i = 0; i < selects.length; i++){
			var values = selects[i].value.split(`,`);
			for(var j = 0; j < employeeList.length; j++){
				if(values[1] == employeeList[j].employeeId){
					hours[j] = (hours[j] + parseInt(values[6]))
				}
			}
		}

		for(var i = 0; i < selects.length; i++){
			for(var j = 0; j < employeeList.length; j++){
				var values = selects[i].value.split(`,`);
				var parent = $(selects[i]).parent();

				if(hours[j] > legalLimit && values[1] == employeeList[j].employeeId){
					parent[0].style.backgroundColor="gold"
				}else if(hours[j] <= legalLimit && values[1] == employeeList[j].employeeId){
					if(parent[0].style.backgroundColor=="gold"){
						parent[0].style.backgroundColor=""
					}
				}
			}
		}
	}


	function checks(){
		var tds = document.getElementsByTagName("td");

		for(var td of tds){
			if(td.style.backgroundColor=="lightsalmon"){
				alert("重複があります。修正してください。");
				return false;
			}else if(td.style.backgroundColor=="gold"){
				alert("法定時間を超えています。修正してください。");
				return false;
			}
		}

		for(var td of tds){
			if(td.style.backgroundColor=="palegreen"){
				if(confirm("希望日数を超過しています。\n変更しますか？") == false){
					return false;
				}else{
					return true;
				}
			}
		}
	}
/*]]>*/
</script>


