<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/admin/WorkTimeTable.css}">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<title>勤務関係</title>
</head>
<body>
	<h1>勤務表作成</h1>
	<h3>※色の注釈</h3>
	<p class="square1">重複</p>
	<p class="square2">勤務削除依頼</p>
	<p class="square3">法定日数超過分</p>
	<p class="square4">希望日数超過分</p>
	<button>確認画面へ</button>
	<button style="float: right" onclick="location.href='TopMenu.html'">トップに戻る</button>
	<p></p>
	<table border="1" id="scheduleTable">

	</table>


	<div id='schedule'></div>
</body>
</html>


<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	//配列
	var week = ["日","月","火","水","木","金","土"];
	var items = ["ビル名","清掃日","人数"];

	//日付関係
	var date = new Date();
	var monthLastDay = new Date(date.getFullYear(),date.getMonth()+1,0);
	var monthFirstDay = new Date(date.getFullYear(),date.getMonth(),1);
	var DAY_OF_MONTH = monthLastDay.getDate();
	var DAY_OF_THE_WEEK = monthFirstDay.getDay();

	//法定時間
	var legalLimit = [160,165,171,177];

	//スケジュールテーブル要素の取得
	var scheduleTable = document.getElementById("scheduleTable");

	//////テーブルヘッダーの作成////////////////////////////
	var tr = document.createElement('tr');
	for(var i = 0; i < items.length; i++){
		var th = document.createElement('th');
		th.textContent = items[i];
		th.setAttribute("rowspan","2");
		tr.appendChild(th);
	}
	for(var i = 1; i <= DAY_OF_MONTH; i++){
		var th = document.createElement('th');
		th.textContent = week[i%7];
		tr.appendChild(th);
	}
	scheduleTable.appendChild(tr);

	var tr = document.createElement('tr');
	for(var i = 1; i <= DAY_OF_MONTH; i++){
		var th = document.createElement('th');
		th.textContent = i;
		tr.appendChild(th);
	}
	scheduleTable.appendChild(tr);
	////////////////////////////////////////////////////////

	//テーブル詳細の作成////////////////////////////////////
	for(var i = 0; i < 2; i++){
		var str = ["ビル名","月水金","人数"];
		var tr = document.createElement('tr');
		for(var j = 0; j < str.length; j++){
			var td = document.createElement('td');
			td.setAttribute("rowspan","2")
			td.textContent= str[j];
			tr.appendChild(td);
		}

		for(var j = 0; j < 2; j++){
			for(var k = 1; k <= DAY_OF_MONTH; k++){
				var td = document.createElement('td');
				var select = document.createElement('select');
				select.setAttribute("onChange","selectCheck(this)");
				select.setAttribute("class","day"+k);
				for(var l = 0; l < 30; l++){
					var option = document.createElement('option');
					option.textContent="従業員名"+l;
					option.setAttribute("value",l);
					select.appendChild(option);
				}
				td.appendChild(select);
				tr.appendChild(td);
			}
			scheduleTable.appendChild(tr);
			var tr = document.createElement('tr');
		}
	}
	/////////////////////////////////////////////////////

	//重複している値を出力するメソッド
	function getDuplicateValues ([...array]){
		return array.filter((value, index, self) => self.indexOf(value) === index && self.lastIndexOf(value) !== index);
	}

	//select要素選択時に実行するメソッド（入力値チェック）
	function selectCheck(select){
    	//クラス名をもとに要素を取得する
    	var elements = document.getElementsByClassName(select.className);

    	//要素の値を保持するための配列
    	var elementValues = [];

		//添え字を保持する配列
    	var indexArray = [];

    	//重複している値を格納する配列
    	var duplicateArray = [];

		//色を変更する要素の添え字を格納する
		var indexRed = [];

  		//elementsから値だけを抽出してelementValueに格納
    	for(var i = 0; i < elements.length; i++){
	    	elementValues.push(elements[i].value);
    	}

  		//さらにgetDuplicateValuesで重複している値のみを抽出
    	duplicateArray = getDuplicateValues(elementValues);

  		//重複している要素の添え字をindexRedに格納
    	for(var i = 0; i < duplicateArray.length; i++){
			for(var j = 0; j < elements.length; j++){
				if(elements[j].value == duplicateArray[i]){
					indexRed.push(j);
				}
			}
    	}

  		//一度全ての要素をデフォルトの色に設定
    	for(var i = 0; i < elements.length; i ++){
    		var parent = $(elements[i]).parent();
    		parent[0].style.backgroundColor="white";
    	}

		//重複している要素の色を格納
    	for(var i = 0; i < indexRed.length; i++){
    		var parent = $(elements[indexRed[i]]).parent();
    		parent[0].style.backgroundColor="lightsalmon";
    	}
	}

/*]]>*/
</script>


