@charset "utf-8";
body {
		background-color:#cccccc;		/*ページ全体の背景色*/
		font-size:95%;
		font-family:"メイリオ",sans-serif;
		line-height:1.5;
		color:#333333;
		text-align:center;
}

li {
	color:#000000;
	list-style-type:none;
	padding:10%;
}

a{
	text-color:black;
	font-size:15pt;
	text-decoration: none;
}


li:hover {
	background-color:#f5f5f5; 	/*リンクにマウスが乗ったら背景色を変更する*/
}

.menu{
	background-color:#ffffff;		/*背景色*/
	margin-left:20%;
	margin-right:20%;
}
