@charset "utf-8";

table{
  width: 100%;
  /*border-collapse: collapse;*/
  border:solid 1px black;
  border-spacing: 0;
  border-collapse:collapse;
}

th{
	background-color:#40e0d0;
	border:solid 1px black;
}

td{
	min-width:100px;
	text-align:center;
	border:solid 1px black;
}

td.out-of-table-fixed{
	position: -webkit-sticky;
	position: sticky;
	left: 0;
	background-color:#40e0d0;
	border-bottom:solid 1px black;
}

tr{
	border-bottom:solid 1px black;

}

tr:hover{
	background-color: #dcdcdc;
}


.square1{
	width:40px;
	height:20px;
	background:lightsalmon;
}
.square2{
	width:100px;
	height:20px;
	background:skyblue;
}
.square3{
	width:120px;
	height:20px;
	background:gold;
}
.square4{
	width:120px;
	height:20px;
	background:palegreen;
}