<style type="text/css">
header {
    width:100%;
    background-color:yellowgreen;
    text-align:center;
	font-size:3em;
	z-index:100;
	position:relative;
}

header .menu_button{
	width:100%;
	color:white;
}

header nav {
    background-color:silver;
    color:white;
    width:100%;
}

main {
    top: 40px;
}

ul{
	list-style: none;
	padding:0;
	margin:0;
}

li{
	display:block;
	border-bottom:2px solid white;
}

a{
	text-decoration:none;
	color:white;
}
</style>


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<!-- CSS -->
<!--  <link rel="stylesheet">	-->

<!-- JQuery -->
<script
  src="http://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<!-- Bootstrap -->
<!-- JavaScript -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script><!-- SweetAlert -->

<title>勤務関係</title>
</head>
<body>
<!--
	<header>
	    <div class="menu_button"><span>MENU</span></div>
	    <nav class="nav">
	        <ul>
	            <a href=""><li>スケジュール一覧</li></a>
	            <a href=""><li>給与一覧</li></a>
	        </ul>
	    </nav>
	</header>
-->
	<main>

 	<form  th:action="@{/employee/schedule/detail}" method="get">
		<div style="text-align:center; font-size:5em; margin-top:5vh;">
	    	<p style="margin:0;">スケジュール詳細</p>
	    </div>
	</form>
	    <hr>
	    <div style="font-size:5em;">
	    	<p style="margin:0; margin-top:5vh;">勤務時間</p>
	    </div>
	    <div>
	    	<table border="1" style="font-size:4em; margin:auto; width:100%;">
	    		<tr style=" background-color:lightgoldenrodyellow">
	    			<td>
	    				<p th:text="${work.workDate}">日付</p>
	    			</td>
	    		</tr>
		   		<tr>
	    			<td>
	    				<p th:text="${work.buildingName}">ビル</p>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td>
	    				<p th:text="${work.buildingStart}">清掃開始時間</p>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td>
	    				<p th:text="${work.buildingEnd}">清掃終了時間</p>
	    			</td>
	    		</tr>

	    	</table>
	    </div>
	    <div style="height:5vh;"></div>
	    <div style="font-size:5em;">
	    	<p style="margin:0;">勤務変更依頼</p>
	    </div>
	    <div>
	    	<table border="1"style="height:10vh; font-size:4em; margin:auto;width:100%;">
	    		<tr style="background-color:lightgoldenrodyellow">
	    			<td>勤務変更依頼備考欄</td>
	    		</tr>
	    		<tr>
	    			<td><textarea style="width:100%; height:20vh;"></textarea></td>
	    		</tr>
	    	</table>
	    </div>
	    <div style="height:5vh;">
	    </div>
	    <div style="text-align:center; height:5vh;">
	    	<button onclick="return check()" style="width:50%; font-size:3em; height:5vh; color:white; background-color:red;">
	    	変更を依頼する
	    	</button>
		 </div>
<form id="change" name="change" method="post">
	<input type="hidden" name="buildingId" th:value="${work.buildingId}">
	<input type="hidden" name="workNumber" th:value="${work.workNumber}">
	<input type="hidden" name="workDate" th:value="${work.workDate}">
	<input type="hidden" name="employeeId" th:value="${work.employeeId}">
	<input id="desire" type="hidden" name="desireDate">
</form>
<script type="text/javascript" th:inline="javascript">

/*<![CDATA[*/
	console.log(/*[[${work}]]*/);

	//本日の日付を文字列で取得
	var date = new Date();
	var dateStr = date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate();
	console.log(dateStr);
	var desire = document.getElementById("desire");
	desire.setAttribute("value",dateStr);

function check(){
	var flag = confirm("勤務の変更依頼を出しますか？");
	if(flag == true){
		alert("変更を依頼しました。\nスケジュールに戻ります。")
		var fm = document.getElementById("change");
		fm.action = "/employee/schedule/top";
		fm.submit();
	}else{
		return false;
	}
}

/*]]>*/
</script>

</main>
</body>
</html>
<!--    -->
