<style type="text/css">
	.calendarTbl{
		width:100%;
		height:30vh;
		margin-bottom:2vh;
		font-size:2.2em;
	}

	caption{
	}
</style>

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<script
  src="http://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>

<head>
<meta charset="UTF-8"></meta>
	<title>勤務表</title>
	<link rel="stylesheet" type="text/css" th:href="@{css/employee/top.css}">
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/

		var workList = /*[[${workList}]]*/

		//引数に指定した年月日(yyyy,mm,dd)を文字列に変換
		function DayLink(yyyy, mm, dd){
			var	hlk = "";

			hlk += yyyy+"-";
			hlk += mm+"-";
			hlk += dd;

			return hlk;
		}


		function tblCalendar(yyyy, mm){

			var wName = new Array();	//曜日
			wName[0] = "Sun";
			wName[1] = "Mon";
			wName[2] = "Tue";
			wName[3] = "Wed";
			wName[4] = "Thu";
			wName[5] = "Fri";
			wName[6] = "Sat";

			var mDay = new Array();		//31日の月と28,29,30日の月を記述
			mDay[0] = 0;
			mDay[1] = 31;
			mDay[2] = 28;
			mDay[3] = 31;
			mDay[4] = 30;
			mDay[5] = 31;
			mDay[6] = 30;
			mDay[7] = 31;
			mDay[8] = 31;
			mDay[9] = 30;
			mDay[10] = 31;
			mDay[11] = 30;
			mDay[12] = 31;

			var	i;
			var w;
			var m;
			var dtNow = new Date();		//現時点での年月日時分秒＋α
			var dtyyyy = dtNow.getFullYear();	//今年
			var dtmm = dtNow.getMonth() + 1;	//今月
			var dtdd = dtNow.getDate();	//今日

			document.write("<table border='1' class='calendarTbl'>");
			document.write("<caption><strong>" + yyyy + " - " + mm + "</strong></caption>");	//年月の表示（例：2020 - 7）

			/*曜日の設定*/////////////////////////
			document.write("<tr>");
			document.write("<th class='sun'>" + wName[0] + "</th>");
			for(i = 1; i < 6; i++) {
				document.write("<th class='day'>" + wName[i] + "</th>");
			}
			document.write("<th class='sat'>" + wName[6] + "</th>");
			document.write("</tr>");
			/////////////////////////////////////


			/*閏年対応*/////////////////////////////
			m = mDay[mm];
			if(mm == 2 && yyyy % 4) {
				m++;
			}
			w = GetWeekDay(yyyy, mm, 1);
			//////////////////////////////////

			/*前月最終週、次月1週目*////////////////////
			for(i = 0; i < w; i++) {
				document.write("<td class='other'>&nbsp;</td>");
			}
			////////////////////////////////////

			/*今月の日数分ループ*/
			for(i = 0; i < m; i++) {
				//指定日を文字列で取得（yyyy-mm-dd)
				var dateStr1 = DayLink(yyyy, mm, i + 1);

				//指定する日が日曜日の時は改行
				if(w == 0) {
					document.write("<tr>");
				}

				//指定した日付と本日の日付が一致するならclassにtodayを指定
				if(yyyy == dtyyyy && mm == dtmm && i + 1 == dtdd) {
					document.write("<td class='today "+dateStr1+"'>");
				}

				//色付けのためのクラスを追加
				else if(w == 0) {
					document.write("<td class='sun "+dateStr1+"'>");
				}
				else if(w == 6) {
					document.write("<td class='sat "+dateStr1+"'>");
				}
				else {
					document.write("<td class='day "+dateStr1+"'>");
				}

				//workListから全ての勤務日を取得
				for(var work of workList){
					var date1 = new Date(work.workDate);
					var dateStr2 = date1.getFullYear()+"-"+(date1.getMonth()+1)+"-"+date1.getDate();
					if(dateStr1 == dateStr2){
				//		document.write( "<a style='display:block; color:black; text-decoration:none;' href='employee/schedule/detail?date="+dateStr1+"''>"+(i+1) + "</td>");
						var td = document.getElementsByClassName(dateStr1);
						td[0].style.backgroundColor="lightcoral";
						document.write( "<a href='/employee/schedule/detail?date="+dateStr1+"' style='background-color:salmonpink'>"+(i+1) + "</td>");
					}
				}

				document.write( (i+1) + "</td>");

				if(w == 6) {
					document.write("</tr>");
				}

				w = (w + 1) % 7;
			}
			for(i = 0; i < (7 - w) % 7; i++) {
				document.write("<td class='other'>&nbsp;</td>");
			}

			document.write("</table>");

			return;
		}

		/*引数で指定した年月日*/
		function GetWeekDay(yyyy, mm, dd){
			var ret;

			if(mm < 3) {
				yyyy--;
				mm += 12;
			}
			ret = yyyy;
			ret += Math.round((yyyy / 4) - 0.5);
			ret -= Math.round((yyyy / 100) - 0.5);
			ret += Math.round((yyyy / 400) - 0.5);
			ret += Math.round((mm * 13 + 8) / 5 - 0.5);
			ret += dd;
			ret %= 7;

			return ret;
		}
	/*]]>*/
	</script>
</head>

<body>
	<h1 align="center">清掃勤務表</h1>
	<hr>
	<div class="calendar" align="center">

	<div>
	<script type="text/javascript">
		var dtNow = new Date();
		tblCalendar(dtNow.getFullYear(), dtNow.getMonth() + 1);
	</script>
	</div>

	<div>
	<script type="text/javascript">
		var dtNow = new Date();
		var yyyy;
		var mm;

		yyyy = dtNow.getFullYear();
		mm = dtNow.getMonth() + 1;
		if(mm < 12) {
			mm += 1;
		}
		else {
			mm = 1;
			yyyy += 1;
		}
		tblCalendar(yyyy, mm);
	</script>
	</div>
	</div>
	<table align="center" style="font-size:24px">
		<tr>
			<td style="color: black">お知らせ</td>
		</tr>
		<tr>
			<td style="color: black">・紙の勤務表は順次廃止します</td>
		</tr>
		<tr>
			<td style="color: black">・当日の休暇希望（病気、忌引等）は以下のボタンからお電話ください</td>
		</tr>
	</table>

	<button class="tel" style="font-size:30px"><a href="tel:00000000000">JMCビルメンテナンスへ電話</a></button>

</body>
</html>